:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --primary-title-color:#212121;
    --secondary-title-color:#FFFFFF;
    --accent-color:#2196F3;
}
p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background:var(--secondary-title-color);
    color: var(--primary-title-color);
    letter-spacing: 0.03em;
    margin: 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}


/*main page*/
/*Header*/
.header-section{
        border-bottom: 1px solid #ECECEC;
        
}
.header-container{
    display: flex;
    align-items: center;
}
.header-logo {
    
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-color);
    margin-right: 97px;

}
.header-navigation-list {
    display: flex;
}
.header-navigation-item:not(:last-child){
    margin-right: 53px;
}
 
.nav-link{
        display: block;
        padding: 32px 0px;
        font-weight: 500;
        font-size:14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color:var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus{
    color:var(--accent-color);
}


.current-link{
    color:var(--accent-color)
}
.header-contacts-list{
    display: flex;
    margin-left: auto;
}
.header-contacts-item:not(:last-child){
    margin-right: 50px;
}

.contact-link{
    display: block;
    padding: 32px 0px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}

/*main*/
/*hero section*/
.hero-section{
    background-color: #2F303A;
    padding:200px 0px;
    text-align: center;

}
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title{
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--secondary-title-color);
        width: 696px;
        margin-bottom: 30px;
        }
.hero-button{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        color: var(--secondary-title-color);
        background-color: var(--accent-color);
        border: none;
        padding:10px 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
}

.hero-button:hover,
.hero-button:focus{
    color:#4a5964;
    cursor: pointer;
}
/*features*/
.features-title-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-item:not(:last-child){
    margin-right: 30px;
}
.feature-item{
    width: 270px;
}
.feature-list{
        display: flex;
        justify-content: center;
}

.features-title{
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
        margin-bottom: 10px;
}
.feature-text{
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
}

/*what we do*/
.do-section{
        padding-top: 0;
}
.title{
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);
        margin-bottom: 50px;
}
.do-list{
    display: flex;
    justify-content: center;
}
.do-item:not(:last-child){
    margin-right:30px;
}
/*our team*/
.our-team-section{
    background-color: #F5F4FA;
}
.our-team-list{
    display: flex;
    justify-content: center;
}
.our-team-item{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background: #FFFFFF;
}
.our-team-item:not(:last-child){
    margin-right: 30px;
}

.team-name{
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        color: var(--primary-text-color);
        text-align: center;
        padding-top: 30px;
        margin: 0px;

        
}
.team-text{
        font-weight: 400;
        font-size: 16px;
        line-height: calc(19 / 16);
        color: var(--secondary-text-color);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
        margin: 0px;
}
/*portfolio page*/
/*main*/
/*button section*/

.button-section{
    padding-bottom: 0px;
}


.button-section-list{
    display: flex;
    justify-content: center;
    
    
}
.button-section-items:not(:last-child){
    margin-right:8px;
}

.button{
    padding: 6px 27px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background: #F5F4FA;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus{
        color: var(--secondary-title-color);
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*.button:active{
        color: var(--secondary-title-color);
        background: var(--accent-color);
}*/
/*project section*/
.cards-section{
    padding-top: 50px;
    padding-bottom: 68px;
    
    
}

.cards-section-list{
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
    
}
.cards-section-item{
    width:370px;
    height: 404px;
    background: var(--secondary-title-color);
    border: 1px solid #EEEEEE;
    
}
.cards-section-img{
        width: 370px;
        height: 294px;
}
.card-title{
        padding: 20px 24px 4px 24px;
        margin: 0px;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36 / 18);
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
}
.card-text{
    padding: 0px 24px 20px 24px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}
/*footer*/
.footer-section{
    background: #2F303A;
}
.footer-container{
    display: block;
}
.footer-logo {
    display: block;
    padding: 60px 0px 9px 0px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-color)
    
}

.footer-address{
    padding-bottom: 60px;
    font-style: normal;
    
}
.footer-address-link{
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.footer-address-link:hover,
.footer-address-link:focus{
    color: var(--accent-color);
}
.footer-contact-link{
        
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.footer-contact-link:hover,
.footer-contact-link:focus{
    color: var(--accent-color);
}
